
   
    <div class="jumbotron col-md-10 col-md-offset-1">
      <h1 class="title">简 历</h1>
      <h2> 基本信息：</h2>
      <table class="table tab">
        <tr>
          <td >姓  名： 余剑科 <br> 性  别： 男 <br> 学历：高中 <br>  现居：深圳<td>
          <td>出生年月： 1987.02 <br> 电话：13435264446 <br> 邮   箱：yukea@qq.com <br>工作意向：Web前端开发 <td>
          <td class="text-right"><img src="https://ws2.sinaimg.cn/large/006tNc79ly1fvpen98jabj303w04n74x.jpg"></td>
        </tr>
  
      </table>

      <br><br>
      <h2> 关于我：</h2>
      <hr />
      <p>
         &nbsp&nbsp&nbsp&nbsp 一个具有强烈进取意识、坚信通过努力可以实现人生价值，热衷于创新，并善于合作的开发者。 
         <br><br>
         &nbsp&nbsp&nbsp&nbsp 在开始编程学习前，有数年创业经历，这段经历使我对编程有一些个人理解：
         <br>
         &nbsp&nbsp&nbsp&nbsp&nbsp 一. 商业和编程都讲究效率，编程技术服务于商业，并通过实现商业价值来体现自身价值。
         <br>
         &nbsp&nbsp&nbsp&nbsp&nbsp 二. 人类社会正朝着科技化方向加速发展，编程是这个趋势的根本推力。
         <br><br>
         &nbsp&nbsp&nbsp&nbsp 于此，我知道在践行人生价值的路上，编程是一个必修选项。 
         <br>
         &nbsp&nbsp&nbsp&nbsp 2017.1 通过参加新生大学培训班学习 Ruby-on-rails、JavaScript、Vue.js。
         <br>
         &nbsp&nbsp&nbsp&nbsp 从零开始到做出多个最小产品需求项目，之后在一个两人小组里和团队成员分工协作完成一个架构更大功能更复杂的线上零售项目(代码：https://github.com/choudac/BJstore)。
         <br>
         &nbsp&nbsp&nbsp&nbsp 目前熟悉HTML、CSS、git操作，懂得根据需求布局静态页面和基本的交互、对数据库的增、删、改、查 和 User Story。
         
      </p>  

      <hr />
      <br>
      <br><br>    
        
      <h2> 最近个人作品：</h2>
      <hr />
      <p> 作品一：运用 Ruby-on-rails 编写的一个互相学习互相督促的践行社区，实现了用户的登入退出，用户发表文章、对文章的增、删、改、查和上传图片</p>
      <img src="https://ws2.sinaimg.cn/large/006tNbRwly1fwacmmkncgj314v23m7wh.jpg" width ="450px">&nbsp&nbsp
      <img src="https://ws3.sinaimg.cn/large/006tNbRwly1fwadm61r1dj314v16g4f4.jpg" width ="580px">
      <p> <a href="/demo">作品演示：https://young-citadel-76579.herokuapp.com/ </a></p>
      <p> <a href="https://github.com/choudac/resume">作品代码：https://github.com/choudac/resume </a></p>
   
      <br><br><br>
      <p> 作品二：运用 Vue.js 的响应式和组件化编写的一个普及中草药用途的网站，实现了简单的图片轮换</p>
      <img src="https://ws4.sinaimg.cn/large/006tNbRwly1fwae81uddzj313817z7uw.jpg" width ="580px">
      <p><a href="https://sheltered-journey-91039.herokuapp.com/"> 作品演示：https://sheltered-journey-91039.herokuapp.com/ </a></p>
      <p><a href="https://github.com/choudac/learning-together"> 作品代码：https://github.com/choudac/learning-together </a></p>
      <hr />
      
      <br><br>
      <h2> 社会经验：</h2>
      <hr /> 

      <p>    
        <strong>  2006.10 - 2011.12 中山德立洁具公司 </strong>
        <br>
          工作描述：
        <br>
          &nbsp&nbsp&nbsp&nbsp 入职为产品安装员，一年后来通过自学CAD平面设计，成功申请为产品设计员。为公司设计非标准规格产品，
          大大提高产品的生产速度、尺寸的精准度和合理性，节约了产品成本。      
      </p>

      <p>    
      <strong>  2012.11 - 2018.6 经营电脑店 </strong>
      <br>
        工作描述：
      <br>
        &nbsp&nbsp&nbsp&nbsp销售品牌电脑及组装电脑；安装监控；网络维护；电脑维修。
        <br>
        初期维修技术水平低下，很多问题都解决不了，
        就在网上搜索解决方法，每天晚上记录所遇到的问题和解决方法，同时学习相关的技术文档。经过多年的维修经验如今能快速判断出故障电脑的问题所在。
        <br>
        从经营中懂得与人相处以诚信为重，要不断学习提高自己的技能水平从而达到高效且正确地完成工作。
        <br>
        后来有幸初探编程世界，深知编程是人生进阶必修课，于是决定放弃现有的生活投入到编程职涯中。
      </p>

    </div>

    