
   
    <div class="jumbotron col-md-10 col-md-offset-1">
      <h1 class="title">简 历</h1>
      <h2> 基本信息：</h2>
      <table class="table tab">
        <tr>
          <td >姓  名： 余剑科 <br> 性  别： 男 <br> 学历：高中 <br> 籍贯：广东 <br> 工作意向：前端开发<td>
          <td>出生年月： 1987.02 <br> 电话：13435264446 <br> 邮   箱：yukea@qq.com <br> 现居：广东清远<td>
          <td class="text-right"><img src="https://ws1.sinaimg.cn/large/0069RVTdgy1fu9ai1cufhj304405kq47.jpg"></td>
        </tr>
  
      </table>
      <hr />
      <br>
  
      <h2> 工作经验：</h2>
      <hr />
  
      <p>
  
      <strong>  2006 年高中毕业 </strong>
      <br><br>
      <strong>  2006.10 - 2010.12 中山德立洁具公司 </strong>
      <br>
        工作描述：
      <br>
         &nbsp&nbsp&nbsp&nbsp在职期间曾任产品包装员；产品组装员；产品安装员，曾被派往景德镇；北京；东营；沈阳等地协助经销商安装产品，回到公司后成为产品设计员。
      <br><br>
      <strong>  2012.11 - 2018.6 经营电脑店 </strong>
      <br>
        工作描述：
      <br>
        &nbsp&nbsp&nbsp&nbsp销售品牌电脑及组装电脑；安装监控；网络维护；电脑维修。
      <br><br>
        2016.9 开始利用工作时间之余自学 HTML,
      <br>
        2017.1 线上跟随台湾名师郑伊廷学习 Ruby on rails，
      <br>
        2017.8 线上跟随技术大牛徐高阳学习 JavaScript 和 Vue
      </p>
  
      <br><br>
      <h2> 自我评价：</h2>
      <hr />
      <p>
        &nbsp&nbsp&nbsp&nbsp工作积极认真，细心负责，吃苦耐劳，热爱运动和学习不断提升自我。
      </p>  

      <br><br>      
      <hr />
      <p> 作品代码一：https://github.com/choudac/learning-together</p>
      <p> 作品代码二：https://github.com/choudac/resume</p>
    </div>

