
   
    <div class="jumbotron col-md-10 col-md-offset-1">
      <h1 class="title">简 历</h1>
      <h2> 基本信息：</h2>
      <table class="table tab">
        <tr>
          <td >姓  名： 余剑科 <br> 性  别： 男 <br> 学历：高中 <br> 籍贯：广东 <br> 工作意向：前端开发<td>
          <td>出生年月： 1987.02 <br> 电话：13435264446 <br> 邮   箱：yukea@qq.com <br> 现居：深圳<td>
          <td class="text-right"><img src="https://ws2.sinaimg.cn/large/006tNc79ly1fvpen98jabj303w04n74x.jpg"></td>
        </tr>
  
      </table>

      <br><br>
      <h2> 自我评价：</h2>
      <hr />
      <p>
        &nbsp&nbsp&nbsp&nbsp本人意向web前端开发，熟悉HTML、CSS、JavaScript、Ruby-on-rails、Express框架、Vue.js、git 操作。
         <br>
         &nbsp&nbsp&nbsp&nbsp责任强，耐力持久，热爱技术。本人符合程序员特征内敛、灵活、执着。热衷于技术，崇尚科技改变世界。
      </p>  

      <hr />
      <br>
      <br><br>    
        
      <h2> 个人作品：</h2>
      <hr />
      
      <p> <a href="/demo">作品演示一：https://young-citadel-76579.herokuapp.com/ </a></p>
      <p> <a href="https://github.com/choudac/resume">作品代码一：https://github.com/choudac/resume </a></p>
   
      <br><br>
      <p><a href="https://sheltered-journey-91039.herokuapp.com/"> 作品演示二：https://sheltered-journey-91039.herokuapp.com/ </a></p>
      <p><a href="https://github.com/choudac/learning-together"> 作品代码二：https://github.com/choudac/learning-together </a></p>
      <hr />
      
      <br><br>
      <h2> 社会经验：</h2>
      <hr />  
      <p>
      <strong>  2006年 高中毕业于英德市第一中学 </strong>
      </p>

      <p>    
        <strong>  2006.10 - 2010.12 中山德立洁具公司 </strong>
        <br>
          工作描述：
        <br>
          &nbsp&nbsp&nbsp&nbsp产品安装员，后来通过学习CAD 升为产品设计员。      
      </p>

      <p>    
      <strong>  2012.11 - 2018.6 经营电脑店 </strong>
      <br>
        工作描述：
      <br>
        &nbsp&nbsp&nbsp&nbsp销售品牌电脑及组装电脑；安装监控；网络维护；电脑维修。 
      <br> 
       2017.1 通过线上培训班学习 HTML, CSS, Ruby-on-rials, JavaScript, Vue.
      </p>

    </div>

    