body {
    
    padding: 0px;
    font-family: Helvetica;
  }
  
#app {
    background: #fff;
    border-radius: 4px;
    padding: 5px;
    transition: all 0.2s;
  }
/* 页眉 */
.nav-demo {
  background-color: #dbd7d7;
}
.name-demo{
  font-size: 30px;
  color: rgb(3, 61, 29);
}


/*图片轮换部分*/
.box {
  background-image: url('https://ws4.sinaimg.cn/large/006tNbRwgy1fvd0v49h7ag30hg0fqwj0.gif');
}

.box-text {
  padding-top: 2%;
  padding-left: 20%;
} 

h2 {
  font-family: KaiTi;
  font-size: 45px;
  text-align: center;
}
p {
 font-family: KaiTi;
 font-size: 25px;
}

img{
  max-width: 70%;
  max-height: 70%;
  

 }

/*图片转换游标*/
.carousel-items {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.carousel-items span {
  display: inline-block;
  height: 6px;
  width: 30px;
  margin: 0 3px;
  background-color: #b2b2b2;
  cursor: pointer;
}
.carousel-items .active {
  background-color: rgb(120, 126, 219);
}

/*-------------------------------------------*/
/*图片展示部分*/

.static-wrap { 
  padding-bottom: 20px; 
  background-color: #dbd7d7;
}
.picture-items {
  padding: 6%;
}

.pic {
  padding: 15%;
}

